<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/output.css" type="text/css" />
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100 text-gray-800">
    <div class="text-center">
        <h1 class="text-9xl font-extrabold text-red-600">404</h1>
        <p class="mt-4 text-lg">Sorry, the page you're looking for cannot be found.</p>
        <p class="mt-4">
            <a href="/" class="text-blue-500 hover:underline text-lg font-semibold">Go back to the homepage</a>
        </p>
    </div>
</body>
</html>
