<footer class="flex flex-row justify-center items-center align-items p-4">
  <h2 class="text-2xl font-[sans-sarif] tracking-widest text-gray-500">
    Developed By Team THunter <i class="fa-solid fa-heart"></i>
  </h2>
</footer>
