
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="/js/script.js"></script>
<script>
    // Mobile Menu
    var toggleOpen = document.getElementById("toggleOpen");
    var toggleClose = document.getElementById("toggleClose");
    var collapseMenu = document.getElementById("collapseMenu");

    function handleClick() {
        if (collapseMenu.style.display === "block") {
            collapseMenu.style.display = "none";
        } else {
            collapseMenu.style.display = "block";
        }
    }

    toggleOpen.addEventListener("click", handleClick);
    toggleClose.addEventListener("click", handleClick);
</script>
</body>
</html>